similarity_matrix.pkl 
db.sqlite3 
__pycache__/ 
*.pyc 
.ipynb_checkpoints/ 
similarity_matrix.pkl 
db.sqlite3 
__pycache__/ 
*.pyc 
.ipynb_checkpoints/ 
similarity_matrix.pkl 
db.sqlite3 
__pycache__/ 
*.pyc 
.ipynb_checkpoints/ 
